body {
  background-color: #a8a8a8;
}

h1 {
    color: brown;
  font-family: comic;
  font-size: 40px;
}

a {
  color: green;
}
.one {
  color: blue;
}

.Two {
  color: white;
  }

ul{
  list-style-type: square;
}
#video{
  display: block;
  border: 2px solid red;
}

#WastemanagementImg {
  height: 10%;
  width: 10%;
  align-items: center;
}
#aboutMeBodyTag {
  background-image: url("Beach.jpg");
}
.space {
  background-color: green;
  padding: 70px 25px 50px 80px;
  border:20px soild red;
  margin:50px;
}
.button{
  display:square;
  height: 10%;
  border:2px solid red;
  background-color: green;
  color: white;
  font-size:20px
text-ailgn:center;
}
